# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
.build
directories
.webpack
.webpackCache
dist

.vscode
.DS_Store
.env.yml
# config/dev/*.yml
# config/staging/*.yml
# config/production/*.yml
